<template>
  <div class="question">
    <p class="question-text"><b>Question:</b> {{ question.questionText }}</p>
    <div v-if="question.isMultipleChoice">hi</div>
    <div v-if="!question.isMultipleChoice">
      <div class="form-group">
        <textarea 
          v-model="answer"
          placeholder="Your answer"
          name="answer"
          rows="6"
          class="form-control"/>
      </div>
    </div>
    <div class="nav-questions d-flex">
      <button 
        :disabled="questionNumber < 1"
        class="col-4 btn btn-default" 
        @click="previous()">Previous Question</button>
      <button 
        v-if="questionNumber + 1 < totalQuestions"
        :disabled="questionNumber + 1 >= totalQuestions"
        class="col-4 offset-4 btn btn-primary"
        @click="next()">Next Question</button>
      <button 
        v-if="questionNumber + 1 >= totalQuestions"
        class="col-4 offset-4 btn btn-primary"
        @click="submit()">Submit</button>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  props: {
    quiz: {
      type: Object,
      required: true,
    },
    questions: {
      type: Array,
      required: true,
    },
    number: {
      type: Number,
      required: true,
    },
  },
  data() {
    const student = JSON.parse(window.localStorage.getItem('student'));

    const answersKey = `${student.id}:${this.quiz.id}`;

    const quizAnswers = JSON.parse(window.localStorage.getItem(answersKey));

    const firstAnswer = quizAnswers[this.quiz.Questions[0].id];

    return {
      answer: firstAnswer,
      answersKey: answersKey,
      quizAnswers: quizAnswers,
      questionNumber: this.number,
    }
  },
  computed: {
    question () {
      return this.questions[this.questionNumber];
    },
    totalQuestions() {
      return this.questions.length;
    }
  },
  created() {
    this.quizAnswers;
  },
  methods: {
    next() {
      const quizAnswers = JSON.parse(window.localStorage.getItem(this.answersKey));
      quizAnswers[this.questions[this.questionNumber].id] = this.answer;
      window.localStorage.setItem(this.answersKey, JSON.stringify(quizAnswers));
      this.questionNumber++;
      this.answer = quizAnswers[this.questions[this.questionNumber].id];
      this.quizAnswers = quizAnswers;
    },
    previous() {
      const quizAnswers = JSON.parse(window.localStorage.getItem(this.answersKey));
      quizAnswers[this.questions[this.questionNumber].id] = this.answer;
      window.localStorage.setItem(this.answersKey, JSON.stringify(quizAnswers));
      this.questionNumber--;
      this.answer = quizAnswers[this.questions[this.questionNumber].id];
      this.quizAnswers = quizAnswers;
    },
    submit() {
      const quizAnswers = JSON.parse(window.localStorage.getItem(this.answersKey));
      quizAnswers[this.questions[this.questionNumber].id] = this.answer;
      this.quizAnswers = quizAnswers;
      axios.post('http://localhost:9897/quiz/answer', this.quizAnswers)
        .then(() => {
          this.quizAnswers = null;
          window.localStorage.removeItem(this.answersKey);
          this.$router.push('/');
        });
    },
  },
  
};
</script>
<style lang="css" scoped>
.question-text {
  font-size: 18px;
}
</style>
