<template>
  <section class="container-fluid">
    <div class="col-12">
      <div class="row">
        <h1 class="display-1 col-12 mb-5">Open Quiz</h1>
      </div>
      <div v-if="studentMissing">
        Student missing
      </div>
      <div class="d-flex">
        <b-card class="mb-5 justify-content-center col-12 col-md-5">
          <h4>Student Details</h4>
          <div class="student-details text-left">
            <b-form>
              <b-form-group>
                <label 
                  for="studentid"
                  class="col-form-label">Student ID</label>
                <b-input 
                  id="studentid"
                  v-model="student.id"/>
              </b-form-group>
              <b-form-group>
                <label 
                  for="studentname"
                  class="col-form-label">Student Name</label>
                <b-input
                  id="studentname"
                  v-model="student.name"/>
              </b-form-group>
              <b-form-group>
                <b-button
                  class="ml-0"
                  variant="primary"
                  @click="saveStudent()">
                  Save Student
                </b-button>
              </b-form-group>
            </b-form>
          </div>
        </b-card>
        <div class="col-12 col-md-6 offset-md-1">
          <h4>Select your quiz</h4>
          <div 
            v-if="quizzes.length > 0"
            class="mt-3">
            <ul class="list-group col-10 pr-0">
              <li
                v-for="quiz in quizzes" 
                :key="quiz.id"
                :class="{ disabled: !studentComplete }"
                class="list-group-item d-flex align-items-center">
                <div class="col-8 text-left">{{ quiz.name }}</div>
                <b-button 
                  :disabled="!studentComplete"
                  variant="secondary"
                  class="col-4"
                  @click="startQuiz(quiz.id)">
                  Start
                </b-button>
              </li>
            </ul>
          </div>
          <div v-if="quizzes.length <= 0">
            <p>No quizzes available</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  props: {
    studentMissing: {
      type: Boolean,
      required: false,
      default: null
    }
  },
  data() {
    const savedStudent = JSON.parse(window.localStorage.getItem("student"));

    const copyStudent = JSON.parse(JSON.stringify(savedStudent));

    return {
      savedStudent: savedStudent,
      student: copyStudent || {
        id: null,
        name: null
      }
    };
  },
  async asyncData({ params }) {
    const { data } = await axios.get(`http://localhost:9897/quiz`);
    return {
      quizzes: data
    };
  },
  computed: {
    studentComplete() {
      return (
        this.savedStudent &&
        this.savedStudent.name &&
        this.savedStudent.name.length > 0 &&
        this.savedStudent.id &&
        this.savedStudent.id.length > 0
      );
    }
  },
  methods: {
    startQuiz(id) {
      this.$router.push(`quiz/${id}/0`);
    },
    saveStudent() {
      this.savedStudent = JSON.parse(JSON.stringify(this.student));
      window.localStorage.setItem("student", JSON.stringify(this.student));
    }
  }
};
</script>

<style scoped>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  margin: 0 8px;
}
</style>
