<template>
  <div class="container-fluid">
    <h1 class="text-center">{{ quiz.name }}</h1>
    <quiz-questions
      :quiz="quiz"
      :questions="quiz.Questions"
      :number="questionNumber"/>
  </div>
</template>
<script>
import axios from 'axios';
import QuizQuestions from '@/components/QuizQuestions';

export default {
  async asyncData ({ params }) {
    const { data } = await axios.get(`http://localhost:9897/quiz/${params.id}`);
    return { 
      quiz: data,
      questionNumber: parseInt(params.number),
    };
  },
  components: {
    QuizQuestions,
  },
  created() {
    const student = JSON.parse(window.localStorage.getItem('student'));
    if (!student) {
      this.$router.push({ name: 'index', props: { studentMissing: true }});
    }

    let quizAnswers = JSON.parse(window.localStorage.getItem(`${student.id}:${this.quiz.id}`));

    if (!quizAnswers) {
      quizAnswers = {
        studentId: student.id,
        studentName: student.name,
        quizName: this.quiz.name,
        quizId: this.quiz.id,
      };

      this.quiz.Questions.map((question) => {
        quizAnswers[question.id] = null;
      });

      window.localStorage.setItem(`${student.id}:${this.quiz.id}`, JSON.stringify(quizAnswers));
    }
  },
}
</script>
